*.ncb
*.suo
*.bak
*.user
*.user
*.opensdf
*.sdf
Debug
ipch

*.aps
Release
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
